name: Release

on:
  push:
    branches:
      - master

permissions: {}

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    environment: release
    permissions:
      contents: write # to create release (changesets/action)
      pull-requests: write # to create pull request (changesets/action)
      id-token: write #  required for provenance and oidc publish
    # prevents this action from running on forks
    if: github.repository == 'koajs/koa-body'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: "./.nvmrc"
          cache: "pnpm"

      - name: Install Dependencies
        run: pnpm install

      - name: Update npm
        # npm version npm 11.5.1 or later needed for Trusted Publishing
        run: npm install -g npm@latest

      - name: Create Release Pull Request or Publish to npm
        uses: changesets/action@v1
        with:
          publish: pnpm release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
